<div class="container links">

    <a class="link" href="http://bit.ly/CGBofficialServer">
        Join The Official Discord Server
    </a>


    <a class="link" href="http://bit.ly/HIOinvite">
        Invite Bot
    </a>


</div>